In [99]:
import pandas as pd
from pandas import DataFrame

In [76]:
df = pd.read_csv("09.1 lsd_math_score_data.csv")

In [77]:
df

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97

In [78]:
type(df)

pandas.core.frame.DataFrame

In [79]:
onlyMathScore = df["Avg_Math_Test_Score"]
print(onlyMathScore)

0    78.93
1    58.20
2    67.47
3    37.47
4    45.65
5    32.92
6    29.97
Name: Avg_Math_Test_Score, dtype: float64

In [80]:
df["football_star"] = "cristiano"

In [81]:
df

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score football_star
0                      5     1.17                78.93     cristiano
1                     15     2.97                58.20     cristiano
2                     30     3.26                67.47     cristiano
3                     60     4.69                37.47     cristiano
4                    120     5.83                45.65     cristiano
5                    240     6.00                32.92     cristiano
6                    480     6.41                29.97     cristiano

In [87]:
df["highest_score"] = 100

In [88]:
df

,Time_Delay_in_Minutes,LSD_ppm,Avg_Math_Test_Score,football_star,highest_score
0,5,1.17,78.93,cristiano,100
1,15,2.97,58.20,cristiano,100
2,30,3.26,67.47,cristiano,100
3,60,4.69,37.47,cristiano,100
4,120,5.83,45.65,cristiano,100
5,240,6.00,32.92,cristiano,100
6,480,6.41,29.97,cristiano,100

In [89]:
df["highest_score"] = df["highest_score"] + df["Avg_Math_Test_Score"]
print(df)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score football_star  \
0                      5     1.17                78.93     cristiano
1                     15     2.97                58.20     cristiano
2                     30     3.26                67.47     cristiano
3                     60     4.69                37.47     cristiano
4                    120     5.83                45.65     cristiano
5                    240     6.00                32.92     cristiano
6                    480     6.41                29.97     cristiano

   highest_score
0         178.93
1         158.20
2         167.47
3         137.47
4         145.65
5         132.92
6         129.97

In [90]:
df["highest_score"] = df["highest_score"] ** 2
df

,Time_Delay_in_Minutes,LSD_ppm,Avg_Math_Test_Score,football_star,highest_score
0,5,1.17,78.93,cristiano,32015.9449
1,15,2.97,58.20,cristiano,25027.2400
2,30,3.26,67.47,cristiano,28046.2009
3,60,4.69,37.47,cristiano,18898.0009
4,120,5.83,45.65,cristiano,21213.9225
5,240,6.00,32.92,cristiano,17667.7264
6,480,6.41,29.97,cristiano,16892.2009

In [91]:
type(onlyMathScore)

pandas.core.series.Series

In [111]:
columnList = [ "LSD_ppm", "Avg_Math_Test_Score"] 
clean_data = df[columnList]
print(clean_data)

   LSD_ppm  Avg_Math_Test_Score
0     1.17                78.93
1     2.97                58.20
2     3.26                67.47
3     4.69                37.47
4     5.83                45.65
5     6.00                32.92
6     6.41                29.97

In [112]:
type(clean_data)

pandas.core.frame.DataFrame

passing list to storing variable gives dataframe while passing string to variable form dataframe gives series.

In [115]:
X = df[["LSD_ppm"]] #for dataframe

In [114]:
type(X)

pandas.core.frame.DataFrame

In [116]:
print(X)

   LSD_ppm
0     1.17
1     2.97
2     3.26
3     4.69
4     5.83
5     6.00
6     6.41

In [119]:
y = df["Avg_Math_Test_Score"] #for series
type(y)

pandas.core.series.Series

In [123]:
del df["highest_score"]
print(df)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97